*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
  /* overflow-x: hidden; */
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #1b1919;
  overflow-x: hidden;
}

nav{
  width: 100%;
  height: 80px;
  padding:2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;  
  /* box-shadow: 1px 1px 10px #8080803d; */
}
ul{
  display: flex;
  align-items: center;
  gap: 2rem;
}
li{
  color: #ffffffb7;
  list-style-type: none;
  font-size: .95rem;
  cursor: pointer;
}
.hamburger{
    width: 30px;
    height: 2px;
    background: aqua;
    display: none;
  z-index: 5;
}
.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: aqua;
}
.hamburger::before{
    transform: translateY(.7rem);
}
.hamburger::after{
    transform: translateY(-.7rem);
    width: 40px;
    
}
.side-bar.move .hamburger{
    transition: ease-in-out 1s;
    transform: translateX(-30px);
    background: transparent;
}
.side-bar.move .hamburger::before{
    transition: ease-in-out 1s;
    transform: rotate(45deg) translate(35px, -35px);
}
.side-bar.move .hamburger::after{
    transition: ease-in-out 1s;
    transform: rotate(45deg) translate(35px, -35px);
}
.side-bar{
  width: 60%;
  height: 100vh;
  background-color:  #1b1919;
  transform: translateX(350%);
  position: absolute;
  top: 0px;
  right: 0;
  transition: 1s;
  z-index: 1;
}
.side-bar.move{
  transform: translateX(0)
}
li:hover{
  color: aqua;
}
.resume{
  padding: .65rem 1rem;
  background-color: transparent;
  border: 1px solid aqua;
  color: aqua;
  cursor: pointer;
}
.resume:hover{
  background-color: #00ffff28;
  color: aqua;
}
 .hexagon {
    width: 45px;
    height: 40px;
    background-color: aqua;
    position: relative;
    clip-path: polygon(25% 0%,75% 0%,100% 50%,75% 100%, 25% 100%,0% 50%);
    transform: rotate(90deg);
    border-radius: 600px;
     display: flex;
    align-items: center;
    justify-content: center;
  }
  .hexagon::after{
    content: "";
    position: absolute;
    background: #1b1919;
    width: 93%;
    height: 93%;
    clip-path: inherit;
    top: 1.2px;
    left: 1.5px;
    border-radius: 600px;

  }
  .hexagon .logo-name{
    position: absolute;
    color: aqua;
    font-size: 2rem;
    z-index: 10;
    transform: rotate(270deg);
    bottom: 2px;
  }
  .section1{
    margin-bottom: 170px;
  }
  .section1.join{
  filter: blur(10px);
  }
  .intro{
    margin-top: 80px;
    margin-left: 180px;
  }
  .hi{
    color: aqua;
    margin-left: 3px;
    margin-bottom: 20px;
    letter-spacing: .5rem;
  }
  .name{
    font-size: 4.2rem;
    color:  #ffffffb7;
    font-weight: bolder;
    margin-bottom: 10px;

  }
  .skill-intro{
    font-size: 4.2rem;
    color: #a799bd98;
    font-weight: bolder;
  }
  .introduction{
    position: relative;
    width: 40%;
    font-size: 1.2rem;
    color: #a799bd98;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .check-out{
  padding: 1.3rem 3.2rem;
  background-color: transparent;
  border: 1px solid aqua;
  color: aqua;
  cursor: pointer;
  border-radius: 3px;
  }
  .check-out:hover{
  background-color: #00ffff28;
  color: aqua;
  }
  
  ::-webkit-scrollbar{
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #bd9b9998;
    /* height: 5%; */
  }

  
  
  @media only screen and (max-width:1059px ) {
    .intro{
      margin-top: 40px;
      margin-left: 120px;
  }
  .introduction{
    position: relative;
    width: 65%;
  }
}
  @media only screen and (max-width:991px ) {
    .intro{
      margin-top: 40px;
      margin-left: 100px;
  }
  .introduction{
    position: relative;
    width: 65%;
  }
}
  @media only screen and (max-width:961px ) {
   .name{
    font-size: 3.9rem;
   }
   .skill-intro{
    font-size: 3.9rem;
   }
  .introduction{
    position: relative;
    width: 75%;
    font-size: 1.1rem;
  }
}
  @media only screen and (max-width:855px ) {
   .name{
    font-size: 3.6rem;
   }
   .skill-intro{
    font-size: 3.6rem;
   }
   .introduction{
    position: relative;
    width: 75%;
    font-size: 1.1rem;
  }
}
  @media only screen and (max-width:798px ) {
   .name{
    font-size: 3.4rem;
   }
   .skill-intro{
    font-size: 3.4rem;
   }
   .introduction{
    position: relative;
    width: 80%;
    font-size: 1.1rem;
  }
}
@media only screen and (max-width:768px ) {
  ul{
    display: none;
  }
  nav{
    padding: 3rem 2rem;
  }
  .intro{
    margin-top: 50px;
    margin-left: 50px;
}
.hamburger{
  display: block;
}
.check-out{
  padding: 1rem 2.8rem;
  
}
}

@media only screen and (max-width:699px ) {
  .name{
   font-size: 3.3rem;
   width: 90%;
  }
  .skill-intro{
    width: 90%;
   font-size: 3.3rem;
  }
  .introduction{
   position: relative;
   width: 75%;
   font-size: 1rem;
 }
}
@media only screen and (max-width:671px ) {
  .name{
   font-size: 3rem;
   width: 90%;
  }
  .skill-intro{
    width: 90%;
   font-size: 3rem;
  }
  .introduction{
   position: relative;
   width: 80%;
   font-size: 1rem;
  }
}
@media only screen and (max-width:457px ) {
  .name{
   font-size: 2.5rem;
   width: 100%;
  }
  .skill-intro{
    width: 100%;
   font-size: 2.5rem;
  }
  .introduction{
   position: relative;
   width: 90%;
   font-size: .9rem;
  }
}
@media only screen and (max-width:481px ) {
  .intro{
    margin-left: 25px;
  }
}


.section2{
  margin-bottom: 200px;
}
.about-me{
  margin-left: 230px;
  display: flex;
  gap: 1.8rem;
}
.abt{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 50px;
  margin-left: 230px;

}
.about{
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffffb7;
}
  .line{
    width: 28%;
    height: 1px;
   background-color:#a799bd75;
  }
  .abt-intro{
    position: relative;
    width: 50%;
    color: #ffffffb7;
    font-size: 1.1rem;
    opacity: .7;
    line-height: 1.7rem;
  }
  .hello{
    margin-bottom: 10px;
  }
  .fast{
    margin-bottom: 10px;
  }
  .recent{
    margin-bottom: 10px;
  }
  .here{
    margin-bottom: 10px;
  }
  .color{
    color: aqua;
  }
  .img-box{
    position: relative;
  }
  .img-box::after{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    left: 17px;
    top: 18px;
    background-color: transparent;
    border: 1px solid aqua;
    overflow: hidden;
    border-radius: .3em;
    transition: .4s;
    z-index: -1;
  }
  .img-box::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0px;
    /* top: 20px; */
    background-color: aqua;
    opacity: .37;
    overflow: hidden;
    border-radius: .3em;
    z-index: 10;
    transition: .5s;
  }
  .img-box:hover::before{
    background-color: transparent;
  }
  .img-box:hover::after{
    left: 10px;
    top: 12px;
  }

  .bright{
    width: 300px;
    height: 300px;
    border-radius: .3rem;
    z-index: 9;
  }
.work-with{
  display: flex;
  align-items: start;
  position: relative;
  gap: 10rem;
}
.wrk{
  display: flex;
  flex-direction: column;
}

.arrow{
  color: aqua;
  display: flex;
  align-items: center;
  gap: .8rem;
}
.arrow p{
  color:  #ffffffb7;
  font-size: .8rem;
}

@media only screen and (max-width:1059px ) {
    .abt{
      margin-left: 120px;
  }
  .line{
    width: 200px;
  }
    .about-me{
      margin-left: 120px;
  }  
}
@media only screen and (max-width:991px ) {
  .bright{
    width: 290px;
    height: 290px;
  }
  .img-box::after{
    width: 290px;
    height: 290px;
  }
  .img-box::before{
    width: 290px;
    height: 290px;
  }
}
@media only screen and (max-width:961px ) {
  .bright{
    width: 280px;
    height: 280px;
  }
  .img-box::after{
    width: 280px;
    height: 280px;
  }
  .img-box::before{
    width: 280px;
    height: 280px;
  }
}
@media only screen and (max-width:915px ) {
  .bright{
    width: 260px;
    height: 260px;
  }
  .img-box::after{
    width: 260px;
    height: 260px;
  }
  .img-box::before{
    width: 260px;
    height: 260px;
  }
}
@media only screen and (max-width:861px ) {
  .bright{
    width: 240px;
    height: 240px;
  }
  .img-box::after{
    width: 240px;
    height: 240px;
  }
  .img-box::before{
    width: 240px;
    height: 240px;
  }
}
@media only screen and (max-width:791px ) {
  .bright{
    width: 210px;
    height: 210px;
  }
  .img-box::after{
    width: 210px;
    height: 210px;
  }
  .img-box::before{
    width: 210px;
    height: 210px;
  }
}
@media only screen and (max-width:768px ) {
  .abt{
    width: 90%;
    margin-left: 50px;
  }
  .line{
    width: 68%;
  }
  .about-me{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  .abt-intro{
    width: 90%;
  }
  .img-box{
    margin: auto;
  }
  .bright{
    width: 300px;
    height: 300px;
    margin-right: 50px;
  }
  .img-box::after{
    width: 300px;
    height: 300px;
    margin-right: 50px;
  }
  .img-box::before{
    width: 300px;
    height: 300px;
    margin-right: 50px;
  }

}
@media only screen and (max-width:481px ) {
   .line{
    width: 57%;
   }
   .abt-intro{
    font-size: .9rem;
   }
   .abt{
    margin-left: 25px;
   }
   .about-me{
    margin-left: 25px;
   }
}
@media only screen and (max-width:450px ) {
  .bright{
    width: 280px;
    height: 280px;
  }
  .img-box::after{
    width: 280px;
    height: 280px;
  }
  .img-box::before{
    width: 280px;
    height: 280px;
  }
}
@media only screen and (max-width:382px ) {
  .bright{
    width: 250px;
    height: 250px;
  }
  .img-box::after{
    width: 250px;
    height: 250px;
  }
  .img-box::before{
    width: 250px;
    height: 250px;
  }
  .line{
    width: 50%;
  }
}

.section3{
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
}
.worked-with{
  width: 52%;
  margin: auto;
  position: relative;
}
.where{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.work-place{
   font-size: 2rem;
   color: #ffffffb7;
}
.dash{
  position: relative;
  width: 40%;
  height: 1px;
  background: #a799bd3a;
}
.work-box{
  display: flex;
  gap: 3rem;
  margin-top: 50px;
}
.side-list{
  display: flex;
  gap: 1rem;
}
.work-list{
  
}
.work-list span{
  color: aqua;
}
.work{
  line-height: 40px;
  color: #ffffff81;
}
.vertical-line{
  width: 2px;
  height: 220px;
  background: #a799bd3a;
  position: relative;
  border-radius: 1rem;
}
.vertical-line::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: aqua;
}
.present-work{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.engineer{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: #ffffff81;
}
.engineer p{
  color: #ffffffa6;
}
.engineer p span{
  color: aqua;
}
.indicator{
  color: aqua;
  display: flex;
  gap: .8rem;
}
.indicator p{
  color: #ffffff81;
  font-size: .95rem;
  margin-bottom: 20px;
}
@media only screen and (max-width:1276px ) {
.worked-with{
  width: 60%;
}
}
@media only screen and (max-width:822px ) {
  .work-place{
    font-size: 1.7rem;
  }
}
@media only screen and (max-width:704px ) {
  .work-place{
    font-size: 1.5rem;
  }
  .worked-with{
    width: 70%;
  }
}
@media only screen and (max-width:601px ) {
  .worked-with{
    width: 87%;
  }
  .work-list{
    display: flex;
    margin-top: -40px;
  }
  .side-list p{
    display: none;
  }
  .side-list{
    display: flex;
    flex-direction: column;
  }
  .work-box{
    display: flex;
    flex-direction: column;
  }
.vertical-line{
  width: 90%;
  height: 1px;
  margin-top: 30px;
}
.vertical-line::before{
  width: 20%;
  height: 1px;
}
}
/* @media only screen and (max-width:433px ) {
  .work-place{
    font-size: 1.3rem;
  }
} */
@media only screen and (max-width:433px) {
  .work-place{
    font-size: 1.3rem;
  }
}
